/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2017, 2:52:39 PM
    Author     : CHUYEN
*/

input[type="checkbox"]{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

form.form-search{
    width: 46%;
    float: left;
    margin-top: 10px;
    button{
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
    input{
        width: 74%;
        float: left;
        padding: 20px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .btn{
        padding: 10px;
    }
}