/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2017, 2:49:13 PM
    Author     : CHUYEN
*/

table{
    &.list_contact{
        table-layout: fixed;
        thead {
            tr {
                th{
                    word-wrap: break-word;
                    &.tbl_address{
                        width: 20%;
                    }
                    &.tbl_selection, &.tbl_contacts_id, &.tbl_course_id{
                        width: 19px;

                    }
                    &.tbl_contact_id{
                        width: 39px;
                    }
                    &.action{
                        width: 105px;
                    }
                    &.tbl_phone{
                        width: 67px;
                    }
                    &.tbl_contacts_address{
                        width: 18%;
                    }
                    &.tbl_course_name_course{
                        width: 18%;
                    }
                    &.tbl_landingpage_code{
                        width: 20%;
                    }
                    &.tbl_campaign_C2pC1, &.tbl_campaign_C3pC2{
                        background-color: #296880;
                    }
                    &.tbl_campaign_pricepC1, &.tbl_campaign_pricepC2, &.tbl_campaign_pricepC3{
                        background-color: #262085;
                    }
                    height: 50px;
                    &:nth-child(1){
                        border-top-left-radius: 10px;
                    }
                    &:last-child{
                        border-top-right-radius: 10px;
                    }

                }
            }
        }
        tbody{
            tr{
                td{
                    word-wrap: break-word;
                    &.tbl_contact_id, &.tbl_course_code, &.tbl_price_purchase{
                        text-align: center;
                    }
                    &>a{
                        width: 129px;
                    }
                    &.tbl_selection{
                        cursor: pointer;
                    }
                    &.tbl_C2pC1, &.tbl_C3pC2 {
                        background-color: #296880;
                        color:#fff;
                    }
                    &.tbl_pricepC1, &.tbl_pricepC2, &.tbl_pricepC3{
                        background-color: #262085;
                        color:#fff;
                    }

                    &.tbl_name{
                        padding-left: 15px;
                    }
                }

            }
        }
    }
}

/*
tr menu chuột phải
*/
.custom_right_menu{
    cursor: pointer;
}

/*
các ô selection
*/
.tbl_selection{
   // display: none;
}