/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 18, 2017, 9:53:07 AM
    Author     : phong
*/



@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    background: url('../../../public/images/crm-background.jpg') no-repeat fixed;
    background-size: cover;
}
*{
    font-family: 'Roboto', sans-serif;


}
div h3 span{
    color : #FFF;
    font-size:14px;
}
div span {
    font-weight: 200;
}
h1{
    font-weight: 200;
    line-height: 48px;
    color: #2d4ab9;
}
.login_box{
    background: rgb(192, 216, 206);
    width:35%;
    /* height:70%; */
    position:absolute;
    top:5%;
    left:32.5%;

    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);
}

@media (max-width: 767px) {
    .login_box{
        background: rgba(192, 216, 206, 0.64);
        width:90%;
        height:80%;
        position:absolute;
        top:10%;
        left:5%;

        -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    }
}
.image-circle{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    border: 4px solid #FFF;
    margin: 10px;
}
.follow{
    background-color:#FC563B;
    height: 80px;
    cursor:pointer;
}
.follow:hover {
    background-color:#F22F26;
    height: 80px;
    cursor:pointer;
}
.login_control{
    background-color:#FFF;
    padding:10px;
    padding-bottom: 50px;
}
.control {
    color:#000;
    margin:10px;
}
.label {
    color: #EB4F26;
    font-size: 18px;
    font-weight: 500;
}
.form-control{
    color: #000000;
    font-size: 25px;
    border: none;
    padding: 25px;
    padding-left: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:focus{
    border-radius: 0px;
    border-bottom: 1px solid #FC563B;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-orange, .btn-orange:focus{
    color : #FFF;
    background-color: #1d4e3a;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: inherit;
}

.btn-orange:hover {
    color : #FFF;
    background-color: #F22F26;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: inherit;
    color:#FFF !important;
}

.line{
    border-bottom : 2px solid #F32D27;
}


.outter{
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

div.redirect{
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

    body {
        background-color: #f1c40f;
        overflow: hidden;
    }

    h1 {
        position: absolute;
        font-weight: 600;
        font-size: 27px;
        text-transform: uppercase;
        left: 45%;
        top: 58%;
        margin-left: -20px;
        color: #fff;
    }

    .body {
        position: absolute;
        top: 50%;
        margin-left: -50px;
        left: 50%;
        animation: speeder .4s linear infinite;

        > span {
            height: 5px;
            width: 35px;
            background: #fff;
            position: absolute;
            top: -19px;
            left: 60px;
            border-radius: 2px 10px 1px 0;
        }
    }

    .base {
        span {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-right: 100px solid #fff;
            border-bottom: 6px solid transparent;

            &:before {
                content: "";
                height: 22px;
                width: 22px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                right: -110px;
                top: -16px;
            }

            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 0 solid transparent;
                border-right: 55px solid #fff;
                border-bottom: 16px solid transparent;
                top: -16px;
                right: -98px;
            }
        }
    }

    .face {
        position: absolute;
        height: 12px;
        width: 20px;
        background: #fff;
        border-radius: 20px 20px 0 0;
        transform: rotate(-40deg);
        right: -125px;
        top: -15px;

        &:after {
            content: "";
            height: 12px;
            width: 12px;
            background: #fff;
            right: 4px;
            top: 7px;
            position: absolute;
            transform: rotate(40deg);
            transform-origin: 50% 50%;
            border-radius: 0 0 10px 2px;
        }
    }

    .body > span > span:nth-child(1),
        .body > span > span:nth-child(2),
        .body > span > span:nth-child(3),
        .body > span > span:nth-child(4) {
        width: 30px;
        height: 1px;
        background: #fff;
        position: absolute;
        animation: fazer1 .2s linear infinite;
    }

    .body > span > span:nth-child(2) {
        top: 3px;
        animation: fazer2 .4s linear infinite;
    }

    .body > span > span:nth-child(3) {
        top: 1px;
        animation: fazer3 .4s linear infinite;
        animation-delay: -1s;
    }

    .body > span > span:nth-child(4) {
        top: 4px;
        animation: fazer4 1s linear infinite;
        animation-delay: -1s;
    }

    @keyframes fazer1 {
        0% {
            left: 0;
        }
        100% {
            left: -80px;
            opacity: 0;
        }
    }

    @keyframes fazer2 {
        0% {
            left: 0;
        }
        100% {
            left: -100px;
            opacity: 0;
        }
    }

    @keyframes fazer3 {
        0% {
            left: 0;
        }
        100% {
            left: -50px;
            opacity: 0;
        }
    }

    @keyframes fazer4 {
        0% {
            left: 0;
        }
        100% {
            left: -150px;
            opacity: 0;
        }
    }

    @keyframes speeder {
        0% {
            transform: translate(2px, 1px) rotate(0deg);
        }
        10% {
            transform: translate(-1px, -3px) rotate(-1deg);
        }
        20% {
            transform: translate(-2px, 0px) rotate(1deg);
        }
        30% {
            transform: translate(1px, 2px) rotate(0deg);
        }
        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }
        50% {
            transform: translate(-1px, 3px) rotate(-1deg);
        }
        60% {
            transform: translate(-1px, 1px) rotate(0deg);
        }
        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }
        80% {
            transform: translate(-2px, -1px) rotate(1deg);
        }
        90% {
            transform: translate(2px, 1px) rotate(0deg);
        }
        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }

    .longfazers {
        position: absolute;
        width: 100%;
        height: 100%;

        span {
            position: absolute;
            height: 2px;
            width: 20%;
            background: #fff;

            &:nth-child(1) {
                top: 20%;
                animation: lf .6s linear infinite;
                animation-delay: -5s;
            }

            &:nth-child(2) {
                top: 40%;
                animation: lf2 .8s linear infinite;
                animation-delay: -1s;
            }

            &:nth-child(3) {
                top: 60%;
                animation: lf3 .6s linear infinite;
            }

            &:nth-child(4) {
                top: 80%;
                animation: lf4 .5s linear infinite;
                animation-delay: -3s;
            }
        }
    }

    @keyframes lf {
        0% {
            left: 200%;
        }
        100% {
            left: -200%;
            opacity: 0;
        }
    }
    @keyframes lf2 {
        0% {
            left: 200%;
        }
        100% {
            left: -200%;
            opacity: 0;
        }
    }
    @keyframes lf3 {
        0% {
            left: 200%;
        }
        100% {
            left: -100%;
            opacity: 0;
        }
    }
    @keyframes lf4 {
        0% {
            left: 200%;
        }
        100% {
            left: -100%;
            opacity: 0;
        }
    }

}